 /* Navbar styles */
 .navbar {
     background-color: #fff;
     padding: 1rem;
 }

 .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .menu-icon {
     display: none;
     cursor: pointer;
     color: #eb2f06;
     font-size: 1.5rem;
 }

 .nav-menu li {
     margin-right: 1rem;
 }

 .nav-menu li:last-child {
     margin-right: 0;
 }

 .nav-menu a {
     text-decoration: none;
     color: #111;
     font-weight: 500;
     font-size: 14px;
 }

 .login-link {
     text-decoration: none;
 }

 .menu-icon {
     display: block;
 }

 .nav-menu {
     display: none;
     gap: 10px;
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     background-color: #333;
     padding: 1rem;
 }

 .nav-menu.active {
     display: flex;
 }

 .nav-menu .active {
     text-decoration: underline;
     color: #eb2f06;
 }

 .nav-menu li {
     margin: 0;
     padding: 0.5rem 0;
     text-align: center;
 }

 .nav-menu a:hover {
     color: #eb2f06;
     transition: .4s;
 }

 .nav-menu a {
     color: #fff;
 }


 /* Responsive styles */

 @media screen and (max-width: 768px) {
     .menu-icon {
         display: block;
     }

     .nav-menu {
         display: none;
         flex-direction: column;
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         background-color: #333;
         padding: 1rem;
     }


     .nav-menu a {
         color: #fff;
     }

     .login-link {

         text-align: center;
     }

     .login-link button {
         width: 100%;
     }
 }

 /* ---------------- */

 .header-menu {}

 .header-menu ul {}

 .header-menu ul li {
     display: inline-block;


 }

 .header-menu ul li:first-child a {}

 .header-menu ul li a {
     text-decoration: none;
     color: black;
     padding: 5px 10px;
     display: inline-block;
     font-size: 15px;
     transition: .4s;

 }

 .header-menu ul li:hover>a {
     background-color: bisque;
 }

 .header-menu ul li a:hover {
     background-color: bisque;
     color: red;
 }

 .header-menu ul li {
     position: relative;
 }

 .header-menu ul li:hover ul {
     opacity: 1;
     visibility: visible;
     transform: scaleY(1);
 }

 .header-menu ul li ul {
     position: absolute;
     background-color: #ffff;
     left: 0;
     top: 130%;
     opacity: 0;
     transition: .4s;
     visibility: hidden;
     transform: scaleY(0);
     transform-origin: top center;


 }

 .header-menu ul li ul li {
     display: block;
     border: none;
     margin-left: 0;


 }

 .header-menu ul li ul li a {
     display: block;
     border: none;
 }

 